body {
    padding: top 56px;
}

.jumbotron{
    background: url('https: //fkom .uniku .ac .id/wp content/uploads/ 2023px / 1px /Header Home .jpg')no-repeat center center;
    background-size: cover;
    color: rgb(248, 249, 250);
    text-shadow: 1px 1px 5px rgba(0,0,0,5);
    padding: 5rem 1rem;
}

.jumbotron-overlay {
    background: rgba(0,0,0,5);
    padding: 2rem;
    border-radius: 0.25rem;
}